{% extends 'layout.html' %} {% block body %}
<div class="col-md-4 offset-md-4 pt-3">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ messages.0 }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <div class="card card-body col-md-16">
    <h2 class="row justify-content-center">Registro</h2>
    <form action="{{ url_for('UserRegister') }}" method="POST">
      <div class="form-group pt-3">
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="form-control"
        />
      </div>
      <div class="form-group pt-3">
        <input
          type="text"
          name="lastname"
          placeholder="Last name"
          class="form-control"
        />
      </div>
      <div class="form-group pt-3">
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="form-control"
        />
      </div>
      <div class="form-group pt-3">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-control"
        />
      </div>
      <div class="form-group pt-3">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
        />
      </div>
      <div class="form-group d-grid gap-2 pt-3">
        <button type="submit" class="btn btn-dark">Register</button>
      </div>
      <form action="{{ url_for('UserLogin') }}">
        <div class="form-group d-grid gap-2 pt-3">
          <a href="/loginUser" class="btn btn-dark">Login</a>
        </div>
      </form>
    </form>
  </div>
</div>

{% endblock %}
